.App {
  text-align: center;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav .nav-item .nav-link {
  color: #1db954;
}

.nav .nav-item .nav-link.active {
  background-color: #1db954;
}

.modal-content {
  background-color: #1db954;
  color: #1db954;
  border: 0px solid #1db954 !important;
}
.modal-content .modal-header {
  background-color: #212529;
  color: #1db954;
  border: 1px solid #1db954;
}

.modal-body {
  background-color: #212529;
  color: #1db954;
  border: 1px solid #1db954;
}
.modal-content .modal-footer {
  background-color: #212529;
  border: 1px solid #1db954;
}

.list-group .list-group-item {
  background-color: #212529;
  color: #1db954;
  border-color: #1db954;
  border-style: solid;
}

.modal-header .btn-close {
  background-color: #1db954;
}
